
  <div class="class1">
    <div class="class2">
      <mat-card>
      <mat-card-title>
      <button mat-raised-button color="primary" (click)="openDialog()">Add Outbound</button>
    </mat-card-title>
     <mat-table [dataSource]="outbounds" class="mat-elevation-z8">
     <ng-container matColumnDef="name">
   <mat-header-cell  *matHeaderCellDef>Name</mat-header-cell>
   <mat-cell *matCellDef="let user">{{user.name}}</mat-cell>
   </ng-container>  
   <ng-container matColumnDef="dial">
   <mat-header-cell *matHeaderCellDef>Dial</mat-header-cell>
   <mat-cell *matCellDef="let user">{{user.dial}}</mat-cell>
   </ng-container>  
   <ng-container matColumnDef="dialpattern">
   <mat-header-cell *matHeaderCellDef>Pattern</mat-header-cell>
   <mat-cell *matCellDef="let user">{{user.dialpattern}}</mat-cell>
   </ng-container>
   <ng-container matColumnDef="callerid">
       <mat-header-cell *matHeaderCellDef>Caller Id</mat-header-cell>
       <mat-cell *matCellDef="let user">{{user.callerid}}</mat-cell>k
       </ng-container>  
       <ng-container matColumnDef="trunk">
           <mat-header-cell *matHeaderCellDef>Trunk</mat-header-cell>
           <mat-cell *matCellDef="let user">{{user.trunk}}</mat-cell>
           </ng-container>   
   <ng-container matColumnDef="action">
     <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
     <mat-cell *matCellDef="let user"><input type="submit" value="Delete"  (click)="deleteOutbound(user._id,user.name)"></mat-cell>
     </ng-container>    
   <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
   <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
   </mat-table>
  </mat-card>
  </div>
        </div>