<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <mat-card>
              <form #form="ngForm">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]='name' required>  
              </div>
                <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" required>
                </div>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$" placeholder="email" name="email" [(ngModel)]="email" required>
                  </div>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Phone" name="phone" [(ngModel)]="phone" required>
                    </div>
                    <div>
                <button type="button" [disabled]="!form.valid" class="btn btn-block btn-success" (click)="save()" *ngIf="dis"> Create Account</button>   
                <button mat-raised-button color="primary" (click)="nav()" *ngIf="dis">Login</button>
              </div>
                <div align="center"><mat-spinner [diameter]="32" *ngIf="!dis"></mat-spinner></div>          
              </form>
            </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
