<form #myForm="ngForm" >
        <h2 mat-dialog-title>Add SIP Trunk</h2>
        
       <mat-form-field>
            <input matInput [(ngModel)]="trunkname" placeholder="Trunk Name" name="trunkname" required>
            <mat-error ng-show="myForm.extension.$touched && myForm.extension.$invalid">Required</mat-error>
        </mat-form-field>
        <h2 mat-dialog-title>Peer Details</h2>
        <mat-form-field>
             <input matInput [(ngModel)]="username1"  placeholder="User Name" name="username1" [disabled]="!(value.value)">
         </mat-form-field>
         <mat-form-field>
                <input matInput [(ngModel)]="password"  placeholder="Password" name="password" [disabled]="!(value.value)">
            </mat-form-field>
         <mat-form-field>
                <input matInput [(ngModel)]="trunkip" placeholder="Trunk IP/Hostname/Port" name="trunkip">
                <mat-error ng-show="myForm.password.$touched && myForm.password.$invalid" required>Required</mat-error>
                 </mat-form-field>
                 <mat-form-field>
                        <mat-select placeholder="Register" #value  [(ngModel)]="register" name="register">
                          <mat-option [value]=true>
                            True
                          </mat-option>
                          <mat-option [value]=false>
                                False
                              </mat-option>
                        </mat-select>
                      </mat-form-field>
       
    <div mat-dialog-actions >
      <button mat-button (click)="onNoClick()">Exit</button>
      <button mat-button (click)="addTrunk()" [disabled] = "!myForm.valid" cdkFocusInitial>Ok</button>
    </div>
    </form>
    