<form #myForm="ngForm" >
        <h2 mat-dialog-title>Add RingGroup</h2>
        
       <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="Name" name="name" required>
            <mat-error ng-show="myForm.extension.$touched && myForm.extension.$invalid">Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="extension" placeholder="Extension" name="extension" required>
              </mat-form-field>
              <mat-form-field>

                  <input matInput [(ngModel)]="timeout" placeholder="Timeout" name="timeout" placeholder="Timeout - 15 sec">

              </mat-form-field>
       
    <div mat-dialog-actions >
      <button mat-button (click)="onNoClick()">Exit</button>
      <button mat-button (click)="addRing()" [disabled] = "!myForm.valid" cdkFocusInitial>Ok</button>
    </div>
    </form>
    