<div class="hello">

    <form>
        <h1>Register</h1>
        <div class="input-group mb-3">

            <input type="text" class="form-control" placeholder="Name" autocomplete="name" required>
        </div>
        <div class="input-group mb-3">

            <input type="text" class="form-control" placeholder="Email" autocomplete="email" required>
        </div>
        <div class="input-group mb-3">

            <input type="text" class="form-control" placeholder="Country" autocomplete="country" required>
        </div>
        <div class="input-group mb-3">

            <input type="text" class="form-control" placeholder="Country" autocomplete="country" required>
        </div>
        <div class="input-group mb-3">

            <input type="text" class="form-control" placeholder="Languages" autocomplete="languages" required>
        </div>
        <button type="button" class="btn btn-block btn-success" (click)="save()"> Create User</button>
        <button type="button" class="btn btn-block btn-success" (click)="close()"> Exit</button>
    </form>
</div>
<!--
                          <div class="card-footer p-4">
                            <div class="row">
                              <div class="col-6">
                                <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                              </div>
                              <div class="col-6">
                                <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                              </div>
                            </div>
                          </div>
                          -->